<h1>Ingredients</h1>

<h2>Add the ingredients that you have!</h2>

<div class="ingredient-submission span4">
  <input class="input-lg" ng-model="ingredient" placeholder="type ingredients here" ng-keypress="hitEnter($event, ingredient)">
  <button class="btn-lg btn-primary" type="submit" ng-click="addIngredient(ingredient)">Add Ingredient</button>
  <button class="btn-lg btn-primary" type="submit" ng-click="goRecipes(ingredients)">Get Recipes</button>
  <table class="table">
    <tr ng-repeat="rows in chunkedData">
       <td class="lead" ng-repeat="item in rows track by $index" ng-click="removeIngredient(item)"><img class="fruit" ng-src="../../assets/apple.jpg">{{ item }}</td>
     </tr>
   </table>
</div>

<a class="citation" href="http://www.freepik.com/free-photos-vectors/food">Food vector designed by Freepik</a>
<a class="citation" href='http://www.freepik.com/free-vector/fruit-icons-in-flat-design_821725.htm'>Designed by Freepik</a>

<div class="baskets">
  <h3>Got a lot of ingredients in your kitchen? Save time by bulk-adding some of these common staples.</h3>
  <div ng-repeat="basket in baskets track by $index">
    {{ basket.name }}<button ng-click="addBasket(basket)">Add these ingredients</button>
    <ul>
      <li ng-repeat="ingredient in basket.contents track by $index">{{ingredient}}</li>
    </ul>
  </div>
</div>
