body {
  padding-top: 50px;
  font-family: 'Playfair Display', serif;
}

.instock {
  text-decoration: line-through;
}


.navigation .logo {
  float: left;
  margin-left: 50px;
}

.navigation .signout {
  margin-right: 50px;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 50px;
  text-align: right;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
  z-index: 10;
}

.navigation a {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;

}

.navigation a:hover {
  color: grey;
} 

.header-image {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.header-image img{
  width: 100%;
  z-index: 1;

}

h1 {
  z-index: 2;
  position: absolute;
  color: white;
  top: 20%; 
  width: 100%; 
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  line-height: 150%;
}

h2 {
  text-align: center;
}

.ingredient-submission {
  text-align: center;
}

.ingredient-submission ul {
  list-style: none;
}

.recipe-results {
  text-align: center;
}

.recipe-results ul {
  list-style: none;
}

.signin {
  text-align: center;
}

.signup {
  text-align: center;
}

img.fruit {
  padding: 10px;
}

.citation {
  font-size: 8px;
}
table {
  padding: 20px;
}

td:hover {
  background-color: #F5F8FA;
}

/*
**  Ingredients - Baskets
*/
.baskets ul {
  margin: 0 auto;
  text-align: center;
}

.baskets li {
  display: inline-block;
  vertical-align: middle;
  width:10%;
  height: 100px;
  border: 1px;
  border-style: solid;
  text-align: center;
  margin: .3%;
}

.baskets li:hover {
  background-color: #F5F8FA;
  transition-property: all;
  transition-duration: 300ms;
}

.baskets li:active {
  background-color: #F5F8FA;
}

.baskets {
  text-align: center;
  font-size: 18px;
}

li.basket-item {
  padding-top: 35px;
  background-color: #ff3333;
  cursor: pointer;

}

div.basket {
  padding: 10px;
}

.basket ul {
  margin-left: -40px;
}

button.add-basket {
  margin: 10px;
}

.baskets p {
  font-size: 14px;
}

.ingredient-cart .default-cart {
  text-align: center;
  margin: auto;
  background-color: red;
}

/*
**  Recipe search results 
*/
table.table {
  table-layout: fixed;
  overflow: hidden;
  width: 100%;
}

img.recipe {
  max-width: 206px;
  max-height: 142px;
  padding: 15px;
  display: block;
  margin:auto;
}

.lead {
  word-wrap:break-word;
  text-align: center;
}

div.hover-btn {
  text-align: center;
}

.recipe-table {
  text-align: center;
}

li.recipe-table {
  text-align: left;
}

td.col-md-6.recipe-table {
  vertical-align: top;
  overflow: hidden;
}

button.close.saveRecipe {
  float: none;
}

button.close.center {
float: none; 
}

button.close {
float: none; 
}

h3.error {
  color: red;
  text-align: center;
}

div.row.cartImages {
  padding-top: 2em;
}

div.spiffyGif {
  padding: 50px;
}

/*
**  Grocery list
*/
.glist-recipes {
  width: 60%;
  /*text-align: center;*/
  padding: 25px;
  float: left;
}

ul.glist-recipe {
  text-align: center;
}

.glist-recipe span {
  text-align: left;
  font-weight: bold;
}

.glist-recipe li {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  list-style: square;
}

.glist-recipe li:hover {
  background-color: #F5F8FA;
  
}

ul.glist-ingredients {
  text-align: left;
  padding: 10px;
  list-style: square;
}

div.glist {
  width: 30%;
  float: right;
  height: 100%;
  padding: 10px;
}


li.even {
  color: red;
}
input.signup {
  margin-top: 20px;
}

button.signup {
  margin-top: 20px;
}

div.anchor.signup {
  margin-top: 30px;
}

div.signin.anchor {
  margin-top: 20px;
}

button.signin {
  margin-top: 20px;
}

/*h2.purpleStroke {
  background-color: rgba(210, 141, 204, 0.3);
  padding: 50px;
}*/

div.userIngredients {
  margin-bottom: 50px;
}

h2.grayStroke {
  color: black;
  font-size: 3em;
   background: -webkit-radial-gradient(center, gray, white);
   padding: 5px;
   background: rgba(245,245,245,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 34%, rgba(227,227,227,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(245,245,245,1)), color-stop(34%, rgba(235,235,235,1)), color-stop(100%, rgba(227,227,227,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 34%, rgba(227,227,227,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 34%, rgba(227,227,227,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 34%, rgba(227,227,227,1) 100%);
background: radial-gradient(ellipse at center, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 34%, rgba(227,227,227,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e3e3e3', GradientType=1 );
}

input.error {
  border: solid 2px;
  border-color: red;
}
