<h1>Grocery List</h1>

<h2>Make a grocery list based on your saved recipes!</h2>

<div class="glist-recipes">
  <button type="submit" ng-click="groceriesFromRecipes()">update my grocery list with items from checked recipes</button>
  <ul class="glist-recipe">
    <li ng-repeat="recipe in data.recipes" ng-src="">
    <div><img class="recipe" ng-src="{{recipe.image}}"></div>
    <input type="checkbox" checklist-model="data.selected" checklist-value="recipe.title"><span ng-click="expand(recipe)"> {{ recipe.title }}</span>
      <ul class="glist-ingredients" ng-if="recipe.show">
        <li ng-repeat='ingredient in recipe.ingredients' ng-class="getClass(ingredient.name)">{{ ingredient.name }}</li>
      </ul>
    </li>
  </ul>


</div>

<div class="glist">
  <div class="grocerylist-submission">
    <input ng-model="newGrocery" placeholder="add items to grocery list here">
    <button type="submit" ng-click="addGrocery()">add</button>
  </div>
  <ul>
    <li ng-repeat="grocery in data.groceries">{{ grocery }}<button type="button" class="close" ng-click="deleteGrocery(grocery)">X</button></li>
  </ul>
</div>