<h1>Recipes</h1>

<h2>Here's Some Fucking Recipes You Can Make With Your Shit</h2>

<div ng-show="singleRecipe.view">
  <div class="recipe-table">
    <h2>{{singleRecipe.recipe.data.title}}</h2>
    <img class="recipe" ng-src="{{singleRecipe.recipe.data.image}}">
  </div>
  <table> 
    <tr>
      <td class="col-md-6">
        <div class="h3 recipe-table">
        Ingredients
        </div>
        <ul>
          <li ng-repeat="item in singleRecipe.recipe.data.extendedIngredients"> {{ item.originalString }}
          </li >
        </ul>
      </td>
      <td class="col-md-6">
        <div class="h3 recipe-table">
        Instructions
        </div>
        <ol>
          <li ng-repeat="step in singleRecipe.recipe.data.instructions track by $index">
            {{ step }}
          </li>
        </ol>
      </td>
    </tr>
  </table>
</div>

  <table class="table">
    <td ng-repeat="recipe in data.recipes">
      <div><img class="recipe" ng-click="viewRecipe(recipe.id)" ng-src="{{ recipe.image }}"></div>
      <div class="lead">{{ recipe.title }}</div>
      <div class="small">{{recipe.missedIngredientCount}} missing ingredients.</div>
    </td>
  </table>

