<h1>Recipes</h1>

<!-- Show detailed instructions for a single recipe -->

<div ng-show="singleRecipe.view" id="singleRecipe">
  <div class="recipe-table">
    <h2 class="grayStroke">{{singleRecipe.recipe.data.title}}</h2>
    <img class="recipe" ng-src="{{singleRecipe.recipe.data.image}}">
    <div ng-show="newRecipe"class="hover-btn col-md-12">
       <button type="button" class="close center" ng-click="saveUserRecipe(singleRecipe.recipe.data)">
          <span aria-hidden="true">Save Recipe</span>
          <span class="sr-only">Close</span>
       </button>
    </div>
  </div>
  <table> 
    <tr>
      <td class="col-md-6 recipe-table">
        <h3 class="recipe-table">
        Ingredients
        </h3>
        <ul>
          <li class="recipe-table" ng-repeat="item in singleRecipe.recipe.data.extendedIngredients"> {{ item.originalString }}
          </li >
        </ul>
      </td>
      <td class="col-md-6 recipe-table">
        <h3 class="recipe-table">
        Instructions
        </h3>
        <ol>
          <li class="recipe-table" ng-repeat="step in singleRecipe.recipe.data.instructions track by $index">
            {{ step }}
          </li>
        </ol>
      </td>
    </tr>
  </table>
</div>

<!-- Display a user's saved recipes -->
<div ng-show="savedRecipes" id="savedRecipes">
<h2 class="grayStroke">Saved Recipes</h2>
<h3 class="error" ng-if="!data.savedRecipes.length">No recipes saved yet</h3>
<table class="table">
  <tr ng-repeat="row in data.savedRecipes">
    <td ng-repeat="recipe in row">
      <div><img class="recipe" ng-click="viewRecipe(recipe.id)" ng-src="{{ recipe.image }}"></div>
      <div class="lead">{{ recipe.title }}</div>
      <div class="hover-btn">
         <button type="button" class="close saveRecipe" ng-click="deleteUserRecipe(recipe)">
            <span aria-hidden="true">x</span>
            <span class="sr-only">Close</span>
         </button>
      </div>
    </td>
  </tr>
</table>
</div>

<div class="spiffyGif col-md-2 col-md-offset-5" ng-show="spiffyGif"><img ng-src="../../assets/329.gif"></div>
<div ng-show="loaded">
<h2 class="grayStroke">Recipes</h2>

<!-- Display 5 recipes based on a user's current cart -->
  <table class="table">
    <td class="recipe-search-table" ng-repeat="recipe in data.recipes">
      <a class="recipe-result" ng-click="viewRecipe(recipe.id)">
        <img class="recipe" ng-src="{{ recipe.image }}">
        <div class="lead">{{ recipe.title }}</div>
      </a>
      <div class="hover-btn">
        <div class="small">{{recipe.missedIngredientCount}} missing ingredients.</div>
        <button type="button" class="close saveRecipe" ng-click="saveUserRecipe(recipe)">
          <span aria-hidden="true">Save Recipe</span>
          <span class="sr-only">Close</span>
         </button>
      </div>
    </td>
  </table>

<!-- Button to show a user's saved recipes -->
  <div class="show-saved-btn">
    <button class="btn-lg btn-primary col-md-3 col-md-offset-4" ng-click="getUserRecipes()">See your saved recipes</button>
  </div>
</div>
