<h1>Signup</h1>
<div class='signup container'>
  <form name="signupForm" ng-submit='signup()'>
    <div class="row">
    <input class='col-md-3 col-md-offset-3 signup input-lg' type='email' ng-class='emailError ? "error" : "noError"'placeholder="Email" ng-model='user.email'>
    <input class='col-md-3 col-md-offset-1 signup input-lg' type="password" placeholder="Password" ng-model='user.password'>
    </div>
    <h2 ng-show="error">{{ errorMessage }}</h2>
    <div class="row">
    <button class='signup col-md-3 col-md-offset-5 btn-primary btn-lg'>signup</button>
    </div>
  </form>
  <div class="row anchor signup">
  <a class="col-md-3 col-md-offset-5" href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
  </div>
</div>